<li id="result_sample">
                    <div class="result">
                        
                                                               
                        <div class="container_topic">
                            <div class="myButton">
                                Politics
                            </div> 
                        </div>
                        <div class="clearfix"></div>

                        <div class="title"><a href="#link_origianl">
                             Writing shell scripts - Lesson 1: Writing your first script and ...
                        </a></div>
                        
                                <div class="link">linuxcommand.org/wss0010.php</div>
                        <div class="container_date">
                                <div class="myButton">
                                    <span class="date">10.4.2015<span class="time"> - 9:34</span></span>
                                </div>                                
                            </div>
                        
                        
                        <div class="clearfix"></div>
                        <div class="content">
                            To successfully write a shell script, you have to do three things: ... 
                            To create a shell use a text editor. ... bin/bash # My first script echo "Hello World!".
                        </div>
                        <div class="author">
                            Joe Kinley
                        </div>
                        
                        <!-- 
                            similar, cache (full text, topic, author)
                                Similar, <span class="date">10.4.2015 <span class="time">- 9:34</span> </span><br>
                        -->
                        <div class="container_buttons">
                            <div class="myButton">
                                <a href="#cache_id_13244_"><img th:src="@{/resources/img/cache_arrow_down_small_grey.png}"/>Cache</a>
                            </div>
                            <div class="myButton">
                                <a href="#similar_id_13244_">Similar</a>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>