<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    
    <link rel="icon" th:href="@{/resources/img/favicon_white.ico}" type="image/x-icon" />
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}">
  
    <script th:inline="javascript">
        var contextUrl = /*[[@{/}]]*/ undefined;
    </script>
    <script type="text/javascript" th:src="@{/resources/js/main.bundle.js}"></script>
<!--     <script type="text/javascript" th:src="@{/resources/js/myHello.bundle.js}"></script> -->
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.11.3.js}"></script>
    
    <title>Search Engine</title>  
    
</head>

<body> 
    <!--
                            @auhor dbeckstein, jfranz
    -->

        <div id="container_top">
            <input id="fld_search" class="search" type="text" placeholder="Enter keywords here" autofocus />
            <a id="search_demo" href="#search_keywords" >
            <!-- dummer bug--> 
            <div id="img_search_container" >
                <img id ="img_search" class="search" th:src="@{/resources/img/lupe.png}"/>
            </div>
            </a>
            <a href="#search_filter">
            <div id="filter_button" class="virtual_input" >
                Filter
            </div>
            </a>
            
            <!--
                Advanced Search
            <input id="btn_search" class="login_submit" type="submit" value="Search">
            </input>
            --> 
            <div class="filter_settings" id="filter_settings">
                <div class="selector">
                </div>
                <div class="select_topic">
                    <ul id="select_topic_list">
                    </ul>
                </div>
                <script>
                     function date_was_changed(type){
                        var el = document.getElementById("date_"+type);

                        var date = el.value;
                        if (type == "start"){
                            console.log("change start date", date);
                        }
                        if (type == "end"){
                            console.log("change start end ", date);
                        }
                    }
                </script>
                
                <div class="select_date date_pick">
                    <table>
                        <tr>
                            <td><input id="date_start" onblur="date_was_changed('start')" type="date" value="2016-03-01" style="color:white;"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp; to &nbsp;&nbsp;&nbsp;
                            </td>
                            <td><input id="date_end" onblur="date_was_changed('end')" type="date"    value="2016-03-10" style="color:white;"/>
                            </td>
                        </tr>
                    </table>
                            
                    <ul>
                        <a href="#date_set_range" data-date-range-days="0" >
                            <li>
                                today
                            </li>
                        </a>
                        <a href="#date_set_range" data-date-range-days="3" >
                            <li>
                                last 3 days
                            </li>
                        </a>
                        <a href="#date_set_range" data-date-range-days="7" >
                            <li>
                                last 7 days
                            </li>
                        </a>
                        <a href="#date_set_range" data-date-range-days="30" >
                            <li>
                                last 30 days
                            </li>
                        </a>
                        <a href="#date_set_range" data-date-range-days="300" >
                            <li>
                                last 300 days
                            </li>
                        </a>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div id="container_js_log">
            <div id="js_log">
            k
            </div>
        </div>
        <div id="container_middle">
            
            <ul id="result_sample_list" class="results">
<!--                 <li id="result_sample"> -->
<!--                     <div class="result"> -->
                        
                                                               
<!--                         <div class="container_topic"> -->
<!--                             <div class="myButton"> -->
<!--                                 Politics -->
<!--                             </div>  -->
<!--                         </div> -->
<!--                         <div class="clearfix"></div> -->

<!--                         <div class="title"><a href="#link_origianl"> -->
<!--                              Writing shell scripts - Lesson 1: Writing your first script and ... -->
<!--                         </a></div> -->
                        
<!--                                 <div class="link">linuxcommand.org/wss0010.php</div> -->
<!--                         <div class="container_date"> -->
<!--                                 <div class="myButton"> -->
<!--                                     <span class="date">10.4.2015<span class="time"> - 9:34</span></span> -->
<!--                                 </div>                                 -->
<!--                             </div> -->
                        
                        
<!--                         <div class="clearfix"></div> -->
<!--                         <div class="content"> -->
<!--                             To successfully write a shell script, you have to do three things: ...  -->
<!--                             To create a shell use a text editor. ... bin/bash # My first script echo "Hello World!". -->
<!--                         </div> -->
<!--                         <div class="author"> -->
<!--                             Joe Kinley -->
<!--                         </div> -->
                        
<!--                         <div class="container_buttons"> -->
<!--                             <div class="myButton"> -->
<!--                                 <a href="#cache_id_13244_"><img th:src="@{/resources/img/cache_arrow_down_small_grey.png}"/>Cache</a> -->
<!--                             </div> -->
<!--                             <div class="myButton"> -->
<!--                                 <a href="#similar_id_13244_">Similar</a> -->
<!--                             </div> -->
                            
<!--                         </div> -->
<!--                         <div class="clearfix"></div> -->
<!--                     </div> -->
<!--                 </li> -->
                <li id="result_sample_" style="display:none;">
                    Show more results  (style like button)
                </li>
                <li class="result_elem" style="display:none;">
                    <span id="res"></span>
                </li>
            
            </ul>
        </div>
        

    <div id="container_footer">  
        <div class="about">
        Team - Die fünf Fragezeichen - Studienarbeit bei Prof. Göbel - SS 2016
        </div>
    </div>
    
    <!-- lazy js - loads these js files only after page content already loaded -->
    <script type="text/javascript" th:src="@{/resources/js_lazy/onload.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js_lazy/polyfiller_date.js}"></script>
  
</body>









